<h1>Eat Da Burger!</h1>

<h2>Add a burger!</h2>
<form class="create-form">
    <div class="form-group">
        <label for="burg-name">Burger Name:</label>
        <input type="text" id="burg-name" name="name">
    </div>
</form>

<h2>All of your burgers</h2>
